{% extends 'base.html' %}
{{ variable.property }}
{% block title %}
Sign Up
{% endblock title %}

{% block content %}

<header>
  <nav>
      <ul>
          {% if user.is_authenticated %}
              <li>
                  <a href="{% url 'show_my_tasks' %}">My tasks</a>
              </li>
              <li>
                  <a href="{% url 'list_projects' %}">My projects</a>
              </li>
              <li>
                  <a href="{% url 'logout' %}">Logout</a>
              </li>
          {% else %}
              <li>
                  <a href="{% url 'signup' %}">Sign up</a>
              </li>
              <li>
                  <a href="{% url 'login' %}">Log in</a>
              </li>
              <li>
                <a href="{% url 'list_projects' %}">Main page</a>
              </li>
          {% endif %}
      </ul>
  </nav>
</header>



      <main>
        <div class="signup-form">
        <h1>Signup</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Signup</button>
        </form>
    </div>
      </main>




      {% endblock content %}
