{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Oswald:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">

        <title>
            {% block title %}{% endblock title %}

        </title>
    </head>

    <body>
        {% block content %}{% endblock content %}




        <footer>
            <div><center>
                <p><img src="https://i.ibb.co/3dM0qKz/Mindlist.png" height=70>
                <p>Become a goal getter.
                <p>Abagail Wang &copy; 2022 | <a href="https://gitlab.com/abagailwang">GitLab</a> | <a href="https://www.linkedin.com/in/abagail-wang/">LinkedIn</a>
                </center>
        </footer>
    </body>
</html>
