{% extends 'base.html' %}
{{ variable.property }}
{% block title %}
Task details
{% endblock title %}

{% block content %}

    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'create_task' %}">Create a task</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>

        {% if user.is_authenticated %}

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for task in task_list %}
                        <tr>
                            <div>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date|date:"M, d, Y" }}</td>
                            <td>{{ task.due_date|date:"M, d, Y" }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                            </div>
                        </tr>
                        {% empty %}
                        <p>You have no tasks</p>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>


        {% endif %}



{% endblock content %}
