{% extends 'base.html' %}
{{ variable.property }}
{% block title %}
Projects Detail
{% endblock title %}



{% block content %}
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>



<main>
    <div class="project-detail">
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>

            {% if project_object.tasks.all|length >= 1 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>

                <tbody>
                {% for task in project_object.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date|date }}</td>
                        <td>{{ task.due_date|date }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
    </div>
</main>


{% endblock content %}
