{% extends 'base.html' %}
{% block title %}
Projects list
{% endblock title %}



{% block content %}

    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                    </li>
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

<main>
    <div class="project-list">
        <h1>My Projects</h1>
        {% if projects|length == 0 %}
            <p>You are not assigned to any projects</p>
    </div>
    <div>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id%}"> {{ project.name }} </a></td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>

{% endblock content %}
